

$primarycolor : yellow;
$secondarycolor : #00923F;
$primarytxtclr : rgb(27, 26, 26);
$navbarfont : 20px;
$tertiarycolor : linear-gradient(to top right, #fdfc47, #24fe41);
$secbackgroundcolor : rgb(202, 239, 207);

